# 一.1

In [1]:
import pandas as pd

In [5]:
company = pd.read_csv('公司文件.csv')
newsInfo = pd.read_csv('新闻基本信息.csv',on_bad_lines='skip', encoding='utf-8')
news_security = pd.read_csv('新闻证券关联.csv')

In [27]:
company.head()

,Stkcd,Stknme,Listdt,Indcd,Indnme,Nindcd,Nindnme,Nnindcd,Nnindnme,IndcdZX,IndnmeZX
0,1,平安银行,1991-04-03,1,金融,I01,银行业,J66,货币金融服务,J66,货币金融服务
1,2,万科A,1991-01-29,3,房地产,J,房地产业,K70,房地产业,K70,房地产业
2,3,PT 金田A,1991-07-03,4,综合,M,综合类,S90,综合,S91,综合
3,4,国华网安,1991-01-14,2,公用事业,G87,计算机应用服务业,I65,软件和信息技术服务业,I65,软件和信息技术服务业
4,5,ST 星源,1990-12-10,2,公用事业,K99,其他社会服务业,N77,生态保护和环境治理业,N77,生态保护和环境治理业

In [7]:
newsInfo.head()

,NewsID,DeclareDate,Title,FullDeclareDate,Autor,NewsContent,NewsSourceID,NewsSource
0,105752655,2022-01-01,每月兑付8000元现金！恒大财富更新兑付方案,2022-01-01 00:24:00,NaN,12月31日，恒大财富官网发布《恒大财富投资产品兑付方案》，明确2021年12月及2022年...,2.0,中国证券报
1,105752656,2022-01-01,美股叮咚买菜盘中涨超40%,2022-01-01 00:26:00,NaN,美股叮咚买菜盘中上涨41.25%，现报21.300美元，当前市值为50.28亿美元（文章来源...,NaN,哈富资讯
2,105752657,2022-01-01,许家印元旦致信全体员工：誓把保交楼进行到底,2022-01-01 00:26:00,NaN,2022年元旦，许家印在给恒大全体员工的新年致辞中透露，目前恒大全国项目复工率已达91.7%...,NaN,智通财经网
3,105752658,2022-01-01,恒大公布一大波现场照片：全国这些楼盘交付了,2022-01-01 00:06:00,NaN,2021年12月31日，恒大集团官方微信号发布消息，恒大全国100多个楼盘迎来最重要的时刻—...,6.0,每日经济新闻
4,105752659,2022-01-01,恒大财富发布最新公告！公布未来3个月兑付方案：每月向每位投资人兑付本金8000元,2022-01-01 00:06:00,NaN,2021年12月31日，恒大财富发布公告，恒大财富兑付方案自2021年9月13日实施以来，广...,6.0,每日经济新闻

In [8]:
news_security.head()

,NewsID,DeclareDate,Title,Symbol,ShortName,SecurityTypeID,SecurityType,FullDeclareDate
0,105752709,2022-01-01,又见高管变动！这次是长江副总裁罗国华 将出任上海证券总经理 拥有银保证丰富经验,783,长江证券,P50100,A股,2022-01-01 00:37:00
1,105752765,2022-01-01,打造“东方氢岛” 多家上市公司积极布局,723,美锦能源,P50100,A股,2022-01-01 07:44:00
2,105752781,2022-01-01,压力下的六个核桃何去何从？养元饮品坚持“长期主义”厚积薄发带来巨大商机,603156,养元饮品,P50100,A股,2022-01-01 09:16:00
3,105752782,2022-01-01,自曝涉新冠口服药股价暴涨 实控人刚披露减持计划 广生堂领关注函后这样回复！,300436,广生堂,P50100,A股,2022-01-01 08:14:00
4,105752783,2022-01-01,【天风优选小市值】信安世纪：增速符合预期 业务新增量值得期待,688201,信安世纪,P50100,A股,2022-01-01 09:05:00

In [49]:
#提取 时间 作者 来源 正文
extracted_newsInfo = newsInfo[['NewsID','FullDeclareDate', 'Autor', 'NewsSource', 'NewsContent']]

In [12]:
#合并新闻信息和新闻证券关联表，提取每个新闻的证券代码
merged_data = pd.merge(newsInfo, news_security, on='NewsID', how='left')

In [17]:
merged_data.head()
extracted_merged_data = merged_data[['NewsID', 'Symbol']]

array([        nan, 7.83000e+02, 7.23000e+02, ..., 6.00333e+05,
       6.00631e+05, 8.39371e+05])

In [37]:
extracted_merged_data['Symbol'].unique()

array([        nan, 7.83000e+02, 7.23000e+02, ..., 6.00333e+05,
       6.00631e+05, 8.39371e+05])

In [30]:
company['Stkcd'].unique()

array([     1,      2,      3, ..., 900956, 900957, 920002], dtype=int64)

In [34]:
len(set(extracted_merged_data['Symbol'].unique()) & set(company['Stkcd'].unique()))

5013

In [38]:
extracted_merged_data.rename(columns={'Symbol': 'Stkcd'}, inplace=True)
news_industry = pd.merge(extracted_merged_data,company,on='Stkcd', how='left')

C:\Users\王鸿轩\AppData\Local\Temp\ipykernel_39232\1131270620.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  extracted_merged_data.rename(columns={'Symbol': 'Stkcd'}, inplace=True)

In [50]:
finalData=pd.merge(extracted_newsInfo, news_industry, on='NewsID', how='left')

In [51]:
SubmitData=finalData[['FullDeclareDate','Autor','NewsSource','NewsContent','Indcd','Indnme','Nindcd','Nindnme','Nnindcd','Nnindnme','IndcdZX','IndnmeZX']]

In [54]:
SubmitData.to_excel('SubmitData.xlsx',index=False)